<h1 mat-dialog-title>Список студентов</h1>
<div mat-dialog-content>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ФИ</th>
      <th scope="col">ВК</th>
      <th scope="col">Институт</th>
      <th scope="col">Запросить группу</th>
      <th scope="col">Изменить данные</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of studentStorage">
      <th scope="row" [innerText]="student.fullname"></th>
      <th><a [href]="'https://vk.com/'+student.vkLink" [innerText]="'https://vk.com/'+student.vkLink"></a></th>
      <th [innerText]="resolveInstitute(student.institute)"></th>
      <th><button class="btn btn-primary" (click)="resolveGroup(student._id)">Запрос</button></th>
    </tr>
    </tbody>
  </table>
</div>
