<div class="tui-container">
  <div class="tui-row">
    <div class="tui-col_md-6">
      <tui-island hoverable='true'>
        <div class="">
          <div class="">
            <h5 class="tui-island__title">Добавить наставника</h5>
            <p class="tui-island__paragraph">Укажите данные наставника и получите его ключ-приглашение</p>
            <button tuiButton  class="tui-island__footer-button" appearance="flat" (click)="newMentor()">Добавить</button>
          </div>
        </div>
      </tui-island>
    </div>
    <div class="tui-col_md-6">
      <tui-island hoverable='true'>
        <div class="">
          <div class="">
            <h5 class="tui-island__title">Показать список всех студентов</h5>
            <p class="tui-island__paragraph">Просмотрите всех студентов вашего института в системе</p>
            <button tuiButton class="tui-island__footer-button" appearance="flat" (click)="showAllStudent()">Открыть</button>
          </div>
        </div>
      </tui-island>
    </div>
  </div>
</div>

