<div class="wrapper">
  <div class="container">
    <div class="card-columns">
    <div class="">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Добавить наставника</h5>
          <p class="card-text">Укажите данные наставника и получите его ключ-приглашение</p>
          <a routerLink="createnewmentor" class="btn btn-primary" [innerText]="'Добавить'" (click)="newMentor()"></a>
       </div>
      </div>
    </div>
    <div class="w-100">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Показать список всех студентов</h5>
          <p class="card-text">Просмотрите всех студентов вашего института в системе</p>
          <a routerLink="allstudent" class="btn btn-primary" [innerText]="'Открыть'"></a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
