<div class="wrapper">
  <div class="container">
    <div class="form-container">
      <form [formGroup]="studentForm">
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <label for="frst">Имя студента</label>
              <input class="form-control" formControlName="firstname"
                     id="frst" aria-describedby="help" placeholder="Василий"
                     [inputValidation]="studentForm" autocomplete="off">
              <small id="help" class="form-text">Для ускорения заполнения используйте Tab</small>
            </div>
            <div class="col">
              <label for="scn">Фамилия</label>
              <input class="form-control" formControlName="secondname"
                     [inputValidation]="studentForm" autocomplete="off"
                     id="scn" placeholder="Шлягин">
            </div>
          </div>
          <div class="form-row mt-1">
            <label for="cvl">Ссылка на профиль ВК</label>
            <input class="form-control" formControlName="vkLink"
                   [inputValidation]="studentForm" autocomplete="off"
                   id="cvl" placeholder="https://vk.com/daleudolo">
          </div>
          <div class="form-row mt-2 justify-content-end">
            <button class="btn btn-primary" (click)="onSubmit()">Добавить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
