

<form *ngIf="isLoginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p class="tui-form__header tui-form__header_margin-top_none">Вход в систему</p>
  <div class="tui-form__row tui-form__row_multi-fields">

    <tui-input-password class="tui-form__multi-field"
                        tuiTextfieldExampleText="qwertySimple"
                        formControlName="password"
                        tuiHintContent="Дворовая псина"
                        [innerText]="'Пароль'"
    ></tui-input-password>
  </div>
</form>

<tui-input class="tui-form__multi-field"
           tuiTextfieldExampleText="username"
           formControlName="login"
           tuiHintContent="Aaaaa?"
           [innerText]="'Username'"
></tui-input>

<button tuiButton appearance="primary">Help</button>
