<div class="wrapper">
  <div class="container">
    <div class="form-container">
      <div class="flex-rr" *ngIf="isAuthorized()">
        <button class="btn btn-danger" [innerText]="'Выйти'" (click)="logout()"></button>
      </div>
      <div *ngIf="!isAuthorized()">
        <div class="form-group"></div>
        <form *ngIf="isLoginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="">
          <p class="form-text text-info">Вход в систему</p>
          <div class="form-row mb-2">
            <input class="form-control col mr-2" formControlName="login" placeholder="Username">
            <input class="form-control col" formControlName="password" placeholder="Password" type="password">
          </div>
        </form>
        <form *ngIf="!isLoginForm" [formGroup]="signupForm" class="">
          <p class="form-text text-info">Регистрация</p>
          <div class="form-row mb-2">
            <input class="form-control" formControlName="inviteKey" placeholder="Invite Key">
          </div>
          <div class="form-row mb-2">
            <input class="form-control col mr-2" formControlName="login" placeholder="Username">
            <input class="form-control col" formControlName="password" placeholder="Password" type="password">
          </div>
        </form>
        <div class="flex-rr">
          <button class="btn btn-primary mr-1" (click)="onSubmit()" [innerText]="currentAction"></button>
          <button class="btn btn-primary" (click)="switchForm()" [innerText]="currentTip"></button>
        </div>
      </div>
    </div>
  </div>
</div>

