<form *ngIf="isFirstStage" [formGroup]="newMentorForm">
  <div class="form-group">
    <div class="tui-form__row_multi-fields">
      <tui-input class="tui-form__multi-field"
                 formControlName="firstName"
                 tuiHintContent="Ты реально?"
                 tuiTextfieldExampleText="Артем">
        Имя наставника
      </tui-input>

      <tui-input class="tui-form__multi-field" formControlName="secondName"
                 tuiHintContent="Фамилия типа, да" tuiTextfieldExampleText="Несуществующий"
                 [inputValidation]="newMentorForm">Фамилия наставника
      </tui-input>

    </div>
    <div class="tui-form__row">
      <tui-input class="form-control" formControlName="vkLink"
                 [inputValidation]="newMentorForm"
      >Ссылка на профиль ВК
      </tui-input>
    </div>
    <div class="tui-form__row tui-form__row_multi-fields">
      <div class="tui-form__multi-field">
        <tui-select
          *tuiLet="institutes$ | async as institutes"
          tuiTextfieldLabelOutside="false"
          [valueContent]="stringify(institutes)"
          formControlName="institute"
        >
          Институт
          <ng-template tuiDataList>
            <tui-data-list>
              <button *ngFor="let data of institutes" tuiOption [value]="data.index">
                {{data.name}}
              </button>
            </tui-data-list>
          </ng-template>
        </tui-select>
      </div>
      <div class=" tui-form__multi-field">
        <tui-input class="form-control" formControlName="group"
                   tuiTextfieldExampleText="РИ-110014">Наименование группы
        </tui-input>
      </div>
    </div>
    <div class="tui-form__buttons tui-form__buttons_align_end">
      <button class="tui-form__button" tuiButton appearance="flat" (click)="onSubmit()">Добавить</button>
    </div>
  </div>
</form>
<div *ngIf="!isFirstStage">
  <div tuiGroup class="tui-row tui-space_bottom_3">
    <tui-input [readOnly]="true" class="tui-group__inherit-item">KEY:</tui-input>
    <tui-input [readOnly]="true" class="tui-group__inherit-item">{{keyMessage}}</tui-input>
    <button tuiButton class="tui-group__inherit-item" appearance="outline" (click)="copyKey()">Скопировать</button>
  </div>
  <br>
  <div class=" tui-row_align_end">
    <button tuiButton appearance="secondary" class="tui-row" (click)="onSubmit()">Добавить ещё</button>
  </div>
</div>

