a.navbar-label{
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.box-shadow{
  box-shadow: 0 .15rem .55rem rgba(0,0,0, .05);
}

html{
  font-size: 14px;
}
@media (min-width: 768px) {
  html{
    font-size: 16px;
  }
}
